<br>
<h5><b>Minhas mensagens</b></h5>
<p><small>Aqui aparecem as mensagens enviadas entre locador/propietário, veja abaixo o que é possível fazer.</small></p>
<ul>
    <li>Ver mensagem individual</li>
    <li>Ver todas as mensagens ( <i>Ao clicar em ver todas, todas as mensagens serão marcadas como lida</i> )</li>
    <li>Responder as mensagens</li>
    
</ul>

<h5><b>Meus imóveis</b></h5>
<p><small>Caso você seja locador, será listado todos os seus imóveis cadastrados</small></p>
<ul>
    <li>Ver todos os imóveis</li>
    <li>Editar, excluir, adicionar imovéis</li>
</ul>

<h5><b>Dados pessoais</b></h5>
<p><small>Contém seus dados de cadstro</small></p>
<ul>
    <li>Ver e editar dados pessoais</li>
</ul>

<h5><b>Dados de login</b></h5>
<p><small>Contém seus dados para efetuar login</small></p>
<ul>
    <li>Alterar usuário</li>
    <li>Alterar senha</li>
</ul>